# Vsftpd configuration
# Managed by Ansible, don't edit manually

#
# General settings
#

xferlog_enable=YES
vsftpd_log_file=/var/log/vsftpd.log

# Access control for anonymous users
#
anonymous_enable={{ 'YES' if ftp_anonymous_enable else 'NO' }}
no_anon_password={{ 'YES' if ftp_anonymous_disable_password else 'NO' }}
{% if vsftpd_anon_root is defined %}
anon_root={{ vsftpd_anon_root }}
anon_mkdir_write_enable=YES
anon_other_write_enable=YES
anon_upload_enable=YES
{% endif %}


write_enable={{ 'YES' if ftp_write_enable else 'NO' }}

{% if vsftpd_pass_allow is defined %}
pasv_enable=Yes
pasv_max_port=40000
pasv_min_port=40000
{% endif %}
